<head>
  <link rel="stylesheet" href="styles.css">
</head>


<div class='rotas'>
  <h1>ENTIDADES</h1>
  <ul>
    <li>
      <a href="http://localhost:3200/cursos">Cursos</a>
    </li>
    <li>
      <a href="http://localhost:3200/materia">Matéria</a>
    </li>
    <li>
      <a href="http://localhost:3200/Professores">Professor</a>
    </li>
    <li>
      <a href="http://localhost:3200/turma">Turma</a>
    </li>
    <li>
      <a href="http://localhost:3200/aluno">Aluno</a>
    </li>
  </ul>
</div>