<head>
    <link rel="stylesheet" href="styles.css">
</head>

<div class="form-control">
    <h1>Registros de Turmas</h1>
    
    <form action="/cadastrarTurma" method="post">
        <input type="text" required name="alunos" placeholder="Digite a quantidade de Alunos">
        <input type="text" required name="turno" placeholder="Digite o turno">
        <input type="text" required name="professor" placeholder="Nome do Professor">
        
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/turma">Turma</a></button>
        <button><a href="/buscarturma">Buscar</a></button>
    </div>
</div>