<head>
    <link rel="stylesheet" href="styles.css">
</head>
<div class="form-control">
    <h1>Cadastrar Matéria</h1>
    <form action="/cadmatpost" method="post">
        <input type="text" required name="nome" placeholder="Digite o nome da matéria...">
        <input type="text" required name="cargaHoraria" placeholder="Digite a carga horaria...">
        <input type="text" required name="tempos" placeholder="Digite a quantos tempos de 1h...">
        <input type="submit">
    </form>
    <div class="btn-control">
        <button><a href="/materia">Matérias</a></button>
        <button><a href="/buscarmateria">Buscar</a></button>
    </div>
</div>